html{
    scroll-behavior: smooth
}

.gradient {
    background: linear-gradient(90deg, #1AAC09 0%, #008080 100%);
}

.ayolokahead{
    width: 175px;
    height: 50px;
}
.payment{
    width: 100% auto  ;
    height: 150px ;
}